.Jole{
    font-family: 'Rubik';
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #FF7A50;
margin-top:74px ;
}
.lover{
    font-family: 'Rubik';
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #AAAAAA;
}
.pora{

font-family: 'Rubik';
font-size: 20px;
line-height: 45px;
letter-spacing: 0.5px;
color: #363853;
margin-top: 83px;
}

@media(max-width:576px){
    .Jole {
        font-size: 11px;
        margin-left: 40px;
    }
    .lover {
        font-size: 8px;
        margin-left: 41px;
    }
    
}