.list{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.list_item{
    list-style: none;
    padding-left: 30px;

}
.btn_naw{
    background: #FF7A50;
box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
border-radius: 5px;
 font-family: 'Rubik';
font-weight: 400;
font-size: 18px;
text-align: center;
color: #FFFFFF;
padding: 10px 30px 10px 30px;
margin-left: 170px;
border:none;
}
.search{
    margin-right: 40px;
}