.both_price{
display: flex;
margin-top: 40px;
gap: 50px;
}
.export{
    background: #FF7A50;
    box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
    border-radius: 5px;
     font-family: 'Rubik';
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 30px 10px 30px;
    border:none;
}
.scuter{
    width: 120%;
    margin-top: 40px;
}
.super{
    font-family: 'Rubik';
font-weight: 500;
font-size: 66px;
line-height: 78px;
text-transform: capitalize;
color: #363853;
margin-top: 190px;
margin-bottom: 23px;

}
.super span{
    font-family: 'Rubik';
font-weight: 500;
font-size: 66px;
line-height: 78px;
text-transform: capitalize;
color: #FF7A50;
}
.poragrow{
    font-family: 'Rubik';
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-transform: capitalize;
color: #363853;

}
.app{
    font-family: 'Rubik';
font-size: 20px;
line-height: 24px;
text-align: center;
text-decoration-line: underline;
color: #363853;
margin-top: 8px;

}

@media (max-width: 575px){

.super {
    text-align: center;
    margin: auto;
    font-weight: 200;
    font-size: 33px;
    line-height: 46px;
    color: #363853;
    margin-top: 10px;
    margin-bottom: 23px;
    width: 350px;
}
.super span {
    font-weight: 200;
    font-size: 33px;
    line-height: 46px;
    width: 350px;
    color: #FF7A50;
    margin-bottom: 23px;
}
.poragrow {
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    margin-left: 30px;
    line-height: 20px;
    width: 300px;
}

.export {
        width: 91px;
        height: 35px;
        font-size: 8px;
        margin-left: 83px;

    padding: 3px 30px 10px 30px;

    }
.scuter{
    margin-left: 60px;
}
.app {
    font-size: 11px;
    line-height: 11px;
}
}