* {
    margin: 0;
    padding: 0;
}

@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css');

body {
    font-family: 'Rubik', sans-serif;
    /* background: linear-gradient(113.59deg, rgba(193, 193, 193, 0) -2.01%, rgba(165, 165, 165, 0.2) 103.74%);
backdrop-filter: blur(388.5px); */
    background-color: azure;
    
}

.navbar {
    display: none;

}

@media (max-width: 575px) {
    .container {
        display: grid;
    }

    #navnar {
        display: none;
    }

    .navbar {
        display: flex;

    }
    #fut {
        display: grid;
    }

    .food {
        margin-top: 25px;
        width: 271px;

    }
    .imfd{
        width: 271px;
    }
    body{
        overflow-x: hidden;
    }
}